.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
    user-select: none;
}

.settings {
    display: flex;
    align-items: center;
    gap: 15px;
}

.settings .undo  {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    gap: 5px;
    color: #06FF00;
    height: 7vh;
    width: 8.5vw;
    border: 3px solid #06FF00;
    border-radius: 5px;
    cursor: pointer;
}

.settings .undo-disabled {
    color: #C7B198;
    border-color: #C7B198;
}

.settings .undo button {
    all: unset;
    font-weight: 500;
}

.settings > button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #06FF00;
    font-size: 15px;
    font-weight: 500;
    height: 7vh;
    width: 8.5vw;
    border-radius: 5px;
    cursor: pointer;
}

.board {
    width: 23vw;
    height: 23vw;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.5vw;
    background-color: #1e293b;
}

.board button {
    border: none;
    cursor: pointer;
    background-color: #E8FFC2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board .red {
    color: #EF4444;
    background-color: #FFE4C0;
}

.board .red-highlight {
    color: #8C0000;
    background-color: #FFBE0F;
}

.board .green {
    color: #059669;
    background-color: #B9F8D3;
}

.board .green-highlight {
    color: white;
    background-color: #06FF00;
}

.board button span {
    font-size: 3vw;
}

footer {
    width: 100vw;
    height: 0.5vh;
    background: rgb(24,185,185);
    background: linear-gradient(45deg, rgba(24,185,185,1) 0%, rgba(6,133,133,1) 23%, rgba(10,119,119,1) 39%, rgba(9,147,147,1) 60%, rgba(161,227,216,1) 100%);

}

@media screen and (max-width: 481px) {
    .board {
        width: 70vw;
        height: 70vw;
        gap: 1.4vw;
    }

    .board button span {
        font-size: 10vw;
    }

    .settings .undo  {
        font-size: 4.3vw;
        width: 34vw;
    }

    .settings > button {
        font-size: 4.3vw;
        width: 34vw;
    }

}

