.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8vh;
}

.container button {
    all: unset;
    color: #A1E3D8;
    background-color: #005555;
    font-weight: 500;
    padding: 2vh 1.5vw;
    cursor: pointer;
}

.board {
    width: 23vw;
    height: 23vw;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    gap: 0.5vw;
    background-color: #1e293b;
}

.board button {
    border: none;
    cursor: pointer;
    background-color: #E8FFC2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.board button span {
    font-size: 3vw;
}

footer {
    width: 100vw;
    height: 0.5vh;
    background: rgb(24,185,185);
    background: linear-gradient(45deg, rgba(24,185,185,1) 0%, rgba(6,133,133,1) 23%, rgba(10,119,119,1) 39%, rgba(9,147,147,1) 60%, rgba(161,227,216,1) 100%);

}
